.poke-card {
  background-color: lightblue;
  width: 800px;
  height: 600px;
  border-radius: 25px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.poke-card img {
  height: 10em;
  width: 10em;
  margin: 2em;
}

.name {
  font-size: 2.5em;
  padding-top: 0.6em;
}

.stats-container {
  display: inline-block;
  width: auto;
}

.stat {
  background-color: pink;
 
  display: inline-block;
  height: 1em;
  width: 17em;
  padding: 3em;
  
  border: solid 3px black;
  border-radius: 20px;
}

.stat-label {
  font-size: 1.4em;
  font-style: italic;
  padding-right: 1em;
}

.stat-value {
  font-size: 2em;
  font-weight: bold;
}

.abil-label {
  font-size: 1.4em;
  font-style: italic;
  padding-top: 2em;
}

.abil-value {
  font-size: 2em;
}

.change-poke {
  background-color: lightgreen;
 
  display: inline-block;
  width: 6em;
  padding: 1em;
  margin: 1em 3em;
  
  border: solid 3px black;
  border-radius: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.change-poke:hover {
  background-color: greenyellow;
}

.error-card {
  background-color: lightcoral;
  width: 800px;
  height: 600px;
  border-radius: 25px;
}

.error-label {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.8em;
  padding: 3em;
}